html {
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: "Joaquin";
  src: url("fonts/Joaquin/JOAQUIN.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Joaquin_Normal";
  src: url("fonts/Joaquin/JOAQUIN_NORMAL.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  background-color: yellow;
  font-family: Montserrat;
}

.navBar {
  height: 5vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
}

.mainPage {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-image: url(img/mainBackground.png);
  scroll-snap-align: start;
}

.mainPage_SkullLogo {
  height: 80%;
  width: 80%;
  background-image: url(img/skullLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-column: 1/2;
  grid-row: 1/3;
}

.mainPage_LogoText {
  font-family: "Joaquin";

  grid-column: 2/3;
  grid-row: 1/2;

  align-self: end;
  color: #ffe98c;
  font-size: 6vw;
}

.mainPage_LogoText_Small {
  font-size: 5vw;
}

.mainPage_Info {
  font-family: "Montserrat";

  grid-column: 2/3;
  grid-row: 2/3;

  align-self: start;
  color: #ffffff;
  font-size: 2vw;
}

.price_Page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
  background-color: black;
  align-items: center;
  justify-items: center;
  scroll-snap-align: start;
}
.pricing_Table {
  width: 65vw;
  max-width: 800px;
  min-width: 360px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr;
}
.pricing_Title {
  font-family: "Joaquin_Normal";
  font-size: 80px;
  width: 100%;
  color: #ffe98c;
  text-align: center;
  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: black;
}

.pricing_List {
  width: 100%;
}

.pricing_Categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  color: white;
  font-size: 40px;
}

.pricing_Categories_Name {
  justify-self: center;
  padding-left: 60%;
  padding-right: 20px;
}
.pricing_Categories_Price {
  justify-self: end;
  padding-left: 20px;
  padding-right: 60%;
}

.carousel_Page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #c0c2c5;
}

.gallery_Page {
  width: 100%;
  height: 100vh;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: black;
  align-items: center;
  justify-items: center;
  scroll-snap-align: start;
  background-image: url(img/mainBackground.png);
}

.gallery_Page_Images {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin-top: 50px;
  /* align-items: center;
  justify-items: center;
  scroll-snap-align: start; */
}

.gallery_Page_Images_Image {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 0;
  background-position: center center;
  background-size: cover;
}

.contact_Page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: "Joaquin_Normal";
  font-size: 80px;
  width: 100%;
  color: #000000;
  align-items: center;
  justify-items: center;
  scroll-snap-align: start;
  background-color: white;
}
.contact_Page_Title {
  font-family: "Joaquin_Normal";
  font-size: 80px;
  width: 100%;
  color: #000000;
  align-items: center;
  justify-items: center;
}
.contact_Page_information {
  font-family: "Montserrat";
  font-size: 40px;
  width: 100%;
  color: #000000;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 500px) {
  .mainPage {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 1fr;
  }
  .mainPage_LogoText {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 12vw;
    align-self: end;
  }

  .mainPage_SkullLogo {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }

  .mainPage_Info {
    grid-column: 1/2;
    grid-row: 3/4;
    align-items: start;
    font-size: 8vw;
  }

  .pricing_Categories {
    font-size: 24px;
  }
}
